@import "./partials/reset";
@import "./partials/variables";
@import "./partials/home";
@import "./partials/preview";

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../assets/fonts/nunito-sans/nunitosans-regular.ttf");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../assets/fonts/nunito-sans/nunitosans-bold.ttf");
}

@font-face {
  font-family: "Nunito Sans Demi Bold";
  src: url("../assets/fonts/nunito-sans/nunitosans-semibold.ttf");
}
